body {background-color: white}

h1 {color: purple;
	font-size: 20px}

.myHeading {color: blue}

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Alegreya:400,700,400italic,700italic);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: "Alegreya";
  font-size: 18px;
}

header#main-header {
  background: url(http://www.telegraph-office.com/pages/images/Titanic_Wireless_Schematic.gif) center center;
  padding: 5%;
  line-height: 1.2;
  color: crimson;
  position: relative;
  z-index: 0;
}

header#main-header p.summary {
  font-size: 30px;
  text-shadow: 0 0 5px white;
}
