
h1 {
  color: white;
	font-size: 20px;
  float: left; /*Don't know how to make the text properly go left*/
  width: 20%;
  margin: 0;
}



@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Alegreya:400,700,400italic,700italic);

* {
  box-sizing: border-box;
}

body {
  background-color: purple;
  margin: 0;
  padding: 10%;
  padding-top: 20%;
  line-height: 1.7;
  font-family: "Alegreya";
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  z-index: 0;
}

a {
  color: black;
  text-decoration: none
}


ul.banner{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color: black;
  background-color: white
    ;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
    display: none; /*Don't know what this is*/
    position: absolute;
    background-color: black;
    min-width: 147px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Don't know what this is*/
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
  color: black;
    background-color: white
}

.dropdown:hover .dropdown-content {
    display: block;
}

a.backup{
  color: white;
  float: right;
}

text{
  color: white;

}
